:root {
    --main-background-color: rgb(176, 175, 175);
    --content-background-color: rgba(0, 191, 255, 0.726); 
    --content-border-color: black;
    --checkbox-or-radio-border-color: rgb(80, 79, 79);
    --checkbox-or-radio-background-color: rgb(222, 223, 228);
    --block-thread-color: rgb(169 21 100);
    --button-color: rgb(255, 174, 0);
    --button-hover-color: rgb(174, 126, 24);
    --button-border-color: black;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--main-background-color);
}

.main-container {
    width: 400px;
    margin: 20px;
    display: flex;
    border-style: solid;
    background-color: var(--content-background-color);
    border-color: var(--content-border-color);
    border-radius: 10px;
    border-width: 2px;
    flex-direction: column;
}

.table-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.table {
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 0px 50px 10px 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
}

.table-col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.table-col .title {
    flex-grow: 1;
    padding: 20px;
}

.table-col .result {
    flex-grow: 1;
    padding: 20px;
}

.table-col .title-text-container {
    display: flex;
    justify-content: end;
}

.table-col .result-text-container { 
    display: flex;
    justify-content: start;
}

.iterations-container {
    padding: 20px;
    width: 100%;
    flex-grow: 0.25;
    display: flex;
    justify-content: center;
}

.iterations-container .label-container {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.iterations-container .input-container {
    width: 60%;
}

.sync-checkbox-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.sync-checkbox-inner-container {
    display: flex;
    align-items: center;
}

.sync-checkbox {
    transform: scale(2);
}

.sync-checkbox-label {
    padding-left: 12px;
    font-size: 16px;
    font-weight: bold;
    color: var(--block-thread-color);
}

.buttons {
    flex-grow: 0.85;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px 20px 20px;
}

.checkboxes-and-radios {
    margin-top: 10px;
    padding-left: 16.5%;
    padding-right: 16.5%;
    flex-grow: 1;
}

.checkbox-or-radio {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2.5px;
    border-color: var(--checkbox-or-radio-border-color);
    background-color: var(--checkbox-or-radio-background-color);
}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: normal;
}

.type-checking-container {
    display: flex;
    justify-content: center;
}

.type-checking {
    font-weight: bold;
    padding-bottom: 3px;
}

.radios {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
}

.radio-container {
    padding-left: 3px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.checkbox-label {
    padding-left: 6px;
}

.radio-label {
    padding-left: 6px;
}

input[type="radio"] {
    margin: 0px;
}

.button {
    background-color: var(--button-color);
    border-color: var(--button-border-color);
    margin: 1.5px 5px 1.5px 0px;
    border-style: solid;
    border-width: 2px;
    height: 35px;
    width: fit-content;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.button.pressable:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}
